<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link  rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css"/>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="top-header">
        <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        <div class="buscador">
            <div>
            <input class="input" type="search" placeholder="buscar productos, marcas"></input>
            <div class="lupa"><i class="fa fa-search"></i></div>
            </div>
        </div>
        <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
        </p>
        </div>
            <nav>
                <ul class="web">
                    <li>
                        <a href="#"> Ofertas </a>
                    </li>
                    <li>
                        <a href="#"> Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="#">Vender </a>
                    </li>
                    <li>
                        <a href="#"> Ayuda</a>
                    </li>
                </ul>
                <ul class="registrarse">
                    <li>
                        <a href="register">crea tu cuenta </a><i class="far fa-id-card"></i>
                    </li>
                    <li>
                        <a href="login"> Ingresá</a><i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li>
                        <a href="#"> Mis compras</a><i class="fas fa-shopping-basket"></i>
                    </li> 
                </ul>         
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
    </header>
    <main class="formu">
        <form class="formulario-login" action="/login" method="get">
            <div>
                <input class="log" type="text" name="nombre" placeholder="Nombre de usuario">
            </div>
            <div>
                <input class="log" type="password" name="password" placeholder="Elegí tu contraseña">
            </div>
            <div class="boton">
                <a href="/home.html"><button class="botonEnviar" type="submit">Enviar</button></a>
            </div>
        </form>
    </main>
    <footer>
        <div class="detallesFooter">
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <i class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>            
            </section>
            <section>
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>            
            </section>
        </div>        
            <section class="copy">
                <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>        
            </section>
    </footer>
</body>
</html>
    










