<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link  rel= "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/CSS/styles.css"/>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="top-header">
        <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        <div class="buscador">
            <div>
            <input class="input" type="search" placeholder="buscar productos, marcas"></input>
            <div class="lupa"><i class="fa fa-search"></i></div>
            </div>
        </div>
        <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
        </p>
        </div>
            <nav>
                <ul class="web">
                    <li>
                        <a href="#"> Ofertas </a>
                    </li>
                    <li>
                        <a href="#"> Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="#">Vender </a>
                    </li>
                    <li>
                        <a href="#"> Ayuda</a>
                    </li>
                </ul>
                <ul class="registrarse">
                    <li>
                        <a href="register">crea tu cuenta </a><i class="far fa-id-card"></i>
                    </li>
                    <li>
                        <a href="login"> Ingresá</a><i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li>
                        <a href="#"> Mis compras</a><i class="fas fa-shopping-basket"></i>
                    </li> 
                </ul>         
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
    </header>
    <main class="formu" >
        <form class="formulario-registro" action="/register" method="get">
            <div>
                <input class="text-field"  type="text" name="nombreCompleto" placeholder="Nombre y Apellido">
            </div>
            <div>
                <input class="text-field" type="text" name="usuario" placeholder="Nombre de usuario">
            </div>
            <div>
                <label for="nacimiento">Fecha de nacimiento</label>
                 <input class="date" type="date"  id="nacimiento "name="nacimiento">
            </div>
            <div>
                <input class="text-field"  type="email" name="email" placeholder="Email">
            </div>
            <div>
                <input class="text-field" type="text" name="domicilio" placeholder="Domicilio">
            </div>
            <div>
            <h3 class="perfil">Tipos de perfil</h3>
            </div>
            <div class="selecciones">
                <div>
                    <input type="radio" name="perfil" value="comprador" id="comprador">
                    <label for="comprador">Comprador </label>
                </div>
                <div>
                    <input type="radio" name="perfil" value="vendedor" id="vendedor">
                    <label for="vendedor">Vendedor </label>
                </div>
            </div>
            <div>
            <h3 class="intereses">Intereses</h3>
            </div>
            <div class="selecciones">
                <div>
                    <input type="checkbox" name="intereses" value="electro" id="electro">
                    <label for="electro">Electro</label>
                </div>
                <div>
                    <input type="checkbox" name="intereses" value="electro" id="electro">
                    <label for="electro">Electro</label>
                </div>
                <div>
                    <input type="checkbox" name="intereses" value="moda" id="moda">
                    <label for="moda">Moda</label>
                </div>
                <div>
                    <input type="checkbox" name="intereses" value="hogar" id="hogar">
                    <label for="hogar">Hogar</label>
                </div>
                <div>
                    <input type="checkbox" name="intereses" value="jugueteria" id="jugueteria">
                    <label for="jugueteria">Jugueteria</label>
                </div>
                <div>
                    <input type="checkbox" name="intereses" value="vidaSana" id="vidaSana">
                    <label for="vidaSana">vida sana</label>
                </div>
                </div>
                <div>
                    <label class="foto" for="fotoPerfil">Foto de ususario</label>
                    <input type="file" name="fotoPerfil" accept=".jpg, .png">
                </div>
                <div>
                    <input class="text-field" type="password" name="contraseña" id="contraseña" placeholder="contraseña" >
                </div>
                <div>
                    <input class="text-field" type="password" name="confirmarContraseña" id="confirmarContraseña" placeholder="confirmar contraseña" >                 
                </div>
                <div class="botones">
                <div>
                    <a href="#"><button class="botonSubmit" type="submit">Enviar</button></a>
                </div>
                <div>
                    <a href="#"><button class="botonReset" type="reset">Cancelar</button></a>
                </div>
            </div>
        </form>
    </main>
</body>
<footer>
    <div class="detallesFooter">
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>            
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>            
        </section>
    </div>        
        <section class="copy">
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>        
        </section>
    </footer>
</body>
</html>
