*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    
}

header{
    background-color: #EAC926;
    width: 100vw;
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

.logo{
    width: 30%;
    height: 30%;
    padding: 10px;
}

.buscador{
    width:50%;
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}

header .buscador .lupa i {
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
}

header .buscador .input {
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
    width: 60%;
}

header p{
    text-align: center;
    width: 100%;
    font-weight: 500;
}

header nav {
    display: none;
}

header nav ul {
    margin-bottom: 0;
    display: flex;
    padding: 0;
    justify-content: space-around;
    width: 42%;
    min-width: 370px;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

header nav .registrarse {
    margin-bottom: 0;
    padding-bottom: 10px;

}

header .burger-menu i {
    color: #fff;
    background-color: #1259c3;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
}
header .burger-menu {
    text-align: center;
}

.banner {
    width: 100vw;
    margin-bottom: -4px;
}

main {
    text-align: center;
    width: 90vw;
}

main section h3 {
    font-size: 16px;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 5%;
    color: rgb(111, 106, 106);
}

main section article h4 {
    font-size: 16px;
    transition: all 600ms;
    
}

main section article {
    margin-bottom: 10px;
    transition: all 600ms;
}

.infoArticulo {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    text-align: left;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    width: 100%;
    transition: all 600ms;
}
main section article img{
    width: 150px;
    transition: all 600ms;
}

main section article div i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color:  #39b54a;
    transition: all 600ms;
}
main section article .precio {
    width: 30%;
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 2px;
}

main section article .descuento {
    width: 70%;
    margin: 0;
    padding: 10px 0;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    color: #39b54a;
    margin-top: 2px;
}

main section article div i {
    
    border: 1px solid #39b54a;
    border-radius: 100%;
    padding: 5px 18px 18px 5px;
    transition: all 600ms;
}

.desc-producto {
    display: none;
    margin: 0;
    padding: 10px 0;
    font-weight: 200;
    color: #666;
   
}

footer {
    display: flex;
    flex-direction: row;
    
    
    
}
footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
    text-align: center;
    margin-top: 10px;
    transition: all 500ms;

}
footer article div i {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
    transition: all 500ms;
}
footer i:hover {
    color: lightblue;

}
footer article h4 {
    font-size: 14px;
    margin-bottom: 1px;
    margin-top: 0px;
    color: #666;
}

footer article p {
    font-size: 12px;
    margin-top: 1px;
    color: #666;
}
 .copyright{
    font-size: 12px;
    text-align: left;
    margin-top: 15px;
}


/*
main section article div div i {
    width: 40px;
    height: 40px;
    border: solid 1px #39b549;
    border-radius: 100%;
    color: #39b549;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
}*/

.formulario-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: #ebebeba6;
    margin: auto;
    margin-top: 25px;
    box-shadow: 7px 13px 20px 7px #666;
    padding: 20px 30px;
    color: grey;
    max-width:650px;

}
.text-field {
    padding: 5px;
    width: 100%;
    border: 1px solid grey;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #464b42;
    font-size: 14px;
    font-weight: lighter;
    color: whitesmoke;
}

.selecciones {
    display: flex;
    flex-direction: column;
    
}

.date {
    padding: 5px;
    width: 70%;
    border: 1px solid grey;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #42473d;
    font-size: 12px;
    font-weight: lighter;
    color: whitesmoke;

} 

div .foto {
}

.botonSubmit {
    width: 100%;
    height: 40px;
    background: darkblue;
    font-size: 16px ;
    font-weight: bold;
    color: whitesmoke ;
    margin-bottom: 16px;
    position: relative;
}
.botonReset {
    width: 100%;
    height: 40px;
    background: darkblue;
    font-size: 16px ;
    font-weight: bold;
    color: whitesmoke ;
    margin-bottom: 16px;
    position: relative;
}
.botones {
    transition: all 500ms;
}

.botonSubmit:hover {
    background-color: #1259c3;

}
.botonReset:hover {
    background-color: red;
}


.formulario-login{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #ebebeba6;
    margin: auto;
    margin-top: 25px;
    box-shadow: 7px 13px 20px 7px #666;
    padding: 20px 30px;
    color: grey;
    max-width:550px;
}

main form .log {
    width: 80%;
    border: 1px solid lightslategray;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: lightgray;
    font-size: 14px;
    font-weight: bold;
    color: #666;

}
.botonEnviar {
    width: 80%;
    height: 40px;
    background: darkblue;
    font-size: 16px ;
    font-weight: bold;
    color: whitesmoke ;
    margin-bottom: 16px;
    position: relative;
}
.boton {
    transition: all 500ms;
}
.botonEnviar:hover {
    background-color: #1259c3;

}


@media(min-width: 361px) {

    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .desc-producto {
        display: block;
    }

    main section article {
        
        width: 45%;

    }

    header nav {
        display: flex; 
        justify-content: space-between; 
     
    }

    header div.burger-menu {
        display: none;

    }
    
}

@media(min-width:769px) {
    main section article {
        width: 22.5%;
    }

    .desc-producto {
        display: none;
    }
    article:hover .desc-producto {
        display: block;
    }
    article:hover {
        box-shadow: 0px 0px 20px rgb(100, 100, 100);

    }
    article:hover i {
        transform:rotate(-90deg);
    }
    

    
    
}

