*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    
}

header{
    background-color: #EAC926;
    width: 100vw;
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

.logo{
    width: 30%;
    height: 30%;
    padding: 10px;
}

.buscador{
    width:50%;
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}

header .buscador .lupa i {
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
}

header .buscador .input {
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
    width: 60%;
}

header p{
    text-align: center;
    width: 100%;
    font-weight: 500;
}

header nav {
    display: none;
    width: 100%;
    
}

header nav ul {
    margin-bottom: 0;
    display: flex;
    padding: 0;
    justify-content: space-around;
    width: 42%;
    min-width: 370px;

}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
header nav .web{
    padding-left: 0;
    padding-right: 40px;

}

.registrarse {
    padding-left: 40px;
    padding-right: 0;

}

header .burger-menu i {
    color: #fff;
    background-color: #1259c3;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
}
header .burger-menu {
    text-align: center;
}

.banner {
    width: 100vw;
    margin-bottom: -4px;
    
}

main {
    text-align: center;
    width: 90vw;
}

main section h3 {
    font-size: 16px;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 5%;
    color: rgb(111, 106, 106);
}

main section article h4 {
    font-size: 16px;
    transition: all 600ms;
    
}

main section article {
    margin-bottom: 10px;
    transition: all 600ms;
}

.infoArticulo {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    text-align: left;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    width: 100%;
    transition: all 600ms;
}
main section article img{
    width: 150px;
    transition: all 600ms;
}

main section article div i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color:  #39b54a;
    transition: all 600ms;
}
main section article .precio {
    width: 30%;
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 2px;
}

main section article .descuento {
    width: 70%;
    margin: 0;
    padding: 10px 0;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    color: #39b54a;
    margin-top: 2px;
}

main section article div i {
    
    border: 1px solid #39b54a;
    border-radius: 100%;
    padding: 5px 18px 18px 5px;
    transition: all 600ms;
}

.desc-producto {
    display: none;
    margin: 0;
    padding: 10px 0;
    font-weight: 200;
    color: #666;
   
}
/*
footer {
    display: flex;
    flex-direction: row;
    
    
    
}
footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
    text-align: center;
    margin-top: 10px;
    transition: all 500ms;

}
footer article div i {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
    transition: all 500ms;
}
footer i:hover {
    color: lightblue;

}
footer article h4 {
    font-size: 14px;
    margin-bottom: 1px;
    margin-top: 0px;
    color: #666;
}

footer article p {
    font-size: 12px;
    margin-top: 1px;
    color: #666;
}
 .copyright{
    font-size: 12px;
    text-align: left;
    margin-top: 15px;
}*/
footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

footer div.detallesFooter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0;
} 

footer section {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

footer i {
    font-size: 2em;
    color: rgb(3, 3, 92);
    margin-bottom: 10px;
    transition: 500ms;
}

footer i:hover {
    color: #0022AA;
}

footer h4 {
    font-size:14px;
    font-weight: 700;
    color: #666;
    margin: 0;
}

footer p {
    font-size: 12px;
    color: #666;
    width: 75%;
    text-align: center;
    margin: 0 0 40px 0;
}

.copy {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

footer .copyright {
    width: 90%;
    font-size: 10px;
    text-align: left;
    margin: 0 0 15px 0;
}


/*
main section article div div i {
    width: 40px;
    height: 40px;
    border: solid 1px #39b549;
    border-radius: 100%;
    color: #39b549;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
}*/
main.formu {
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;

}
.formulario-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: #becceeee;
    margin-top: 15px;
    box-shadow: 7px 13px 20px 7px #666;
    padding: 20px 30px;
    color: grey;
    max-width:650px;

}
.text-field {
    width: 100%;
    border: 1px solid lightslategray;
    margin-bottom: 15px;
    box-shadow: 0 0 2px 2px rgba(100, 100, 100, .5);
    padding: 10px 10px;
    background: lightgray;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.selecciones {
    display: flex;
    flex-direction: column;
    align-items: left;
    
}
.selecciones div {
    width: 40%;
    display: flex;
    justify-content: flex-start;

}

.selecciones div input {
    width: 20px;
    text-align: left;

    
}
.selecciones label {
    text-align: left;
}

.intereses {

}

.perfil {

}

form div {
    width: 70%;
}
.date {
    width: 100%;
    border: 1px solid lightslategray;
    margin-bottom: 15px;
    background: lightgray;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.foto {
    width: 80%;
    margin-bottom: 0;
    padding: 11px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}
div.botones {
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.botones div {
    width: 45%;
    margin: 0;
    padding: 0;
}

.botonSubmit {
    width: 100%;
    height: 40px;     
    background: rgb(2, 2, 98);
    font-size: 16px ;
    font-weight: bold;
    color: whitesmoke ;
    margin-bottom: 16px;
}
.botonReset {
    width: 100%;
    height: 40px;
    background: darkblue;
    font-size: 16px ;
    font-weight: bold;
    color: whitesmoke ;
    margin-bottom: 16px;
}
.botones {
    transition: all 500ms;
}

.botonSubmit:hover {
    background-color: #0022AA;

}
.botonReset:hover {
    background-color: #0022AA;
}

.formulario-login{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #ebebeba6;
    margin: auto;
    margin-top: 25px;
    box-shadow: 7px 13px 20px 7px #666;
    padding: 20px 30px;
    color: grey;
    max-width:550px;
}

main form .log {
    width: 80%;
    border: 1px solid lightslategray;
    margin-bottom: 15px;
    padding: 11px 10px;
    box-shadow: 0 0 2px 2px rgba(100, 100, 100, .5);
    background: lightgray;
    font-size: 14px;
    font-weight: bold;
    color: #666;

}
.botonEnviar {
    width: 80%;
    height: 40px;
    background: rgb(2, 2, 98);
    font-size: 16px ;
    font-weight: bold;
    color: whitesmoke ;
    margin-bottom: 16px;
    position: relative;
}
.boton {
    transition: all 500ms;
}
.botonEnviar:hover {
    background-color: #0022AA;

}

header nav {
    display: none;
}


@media(min-width: 361px) {

    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .desc-producto {
        display: block;
    }
    header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    } 

    main section article {
        
        width: 45%;

    }


    header div.burger-menu {
        display: none;

    }
    
}

@media(min-width:769px) {
    main section article {
        width: 22.5%;
    }

    .desc-producto {
        display: none;
    }
    article:hover .desc-producto {
        display: block;
    }
    article:hover {
        box-shadow: 0px 0px 20px rgb(100, 100, 100);

    }
    article:hover i {
        transform:rotate(-90deg);
    }

    footer div.detallesFooter {
        flex-direction: row;
        justify-content: space-between;
    } 

    footer div.detallesFooter section {
        width: 30%;
    }

    footer div.detallesFooter section p {
        width: 90%;
    }
    

    
    
}

