*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    
}

header{
    background-color: #EAC926;
    width: 100vw;
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

.logo{
    width: 50%;
    padding: 10px;
}

.buscador{
    width:50%;
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .buscador .lupa i {
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
}

header .buscador .input {
    background-color: #fff;
    border: 1px solid #000;
    color: #666;
    width: 60%;
}

header p{
    text-align: center;
    width: 100%;
    font-weight: 600;
}

header nav {
    display: none;
}

header nav ul {
    margin-bottom: 0;
    display: flex;
    padding: 0;
    justify-content: space-around;
    width: 42%;
    min-width: 370px;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

header nav .registrarse {
    margin-bottom: 0;
    padding-bottom: 10px;
}

header .burger-menu i {
    color: #fff;
    background-color: #1259c3;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
}
header .burger-menu {
    text-align: center;
}

.banner {
    width: 100vw;
    margin-bottom: -4px;
}

main {
    text-align: center;
    width: 90vw;
}

main section h3 {
    font-size: 16px;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 5%;
    color: rgb(111, 106, 106);
}

main section article h3 {
    font-size: 16px;
    opacity: 0.5;
}

main section article {
    margin-bottom: 10px;
}

.infoArticulo {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    text-align: left;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    width: 100%;
}
main section article img{
    width: 150px;
}

main section article div i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
main section article .precio {
    width: 30%;
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 2px;
}

main section article .descuento {
    width: 70%;
    margin: 0;
    padding: 10px 0;
    font-weight: 600;
    text-align: left;
    font-size: 16px;
    color: #39b54a;
    margin-top: 2px;
}

main section article div i {
    
    border: 1px solid #39b54a;
    border-radius: 100%;
    padding: 5px 18px 18px 5px;
}

.desc-producto {
    display: none;
    margin: 0;
    padding: 10px 0;
    font-weight: 200;
    color: #666;
   
}

footer {
    text-align: center;
}
footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
    text-align: center;
    margin-top: 10px;
}
footer article div i {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}
footer article h4 {
    font-size: 16px;
    margin-bottom: 1px;
    margin-top: 0px;
    color: #666;
}

footer article p {
    font-size: 12px;
    margin-top: 1px;
    color: #666;
}

footer p.copyright{
    font-size: 12px;
    text-align: left;
}


/*
main section article div div i {
    width: 40px;
    height: 40px;
    border: solid 1px #39b549;
    border-radius: 100%;
    color: #39b549;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
}*/

#formulario-registro {
    background-color: #ebebeb;
}

.formularios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

form div {
    margin-bottom: 10px;
    border-radius: 5%;
}

.text-field {
    padding: 5px;
}

.selecciones {
    display: flex;
    flex-direction: column;
}

form .formulario-login{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input .log {
    padding: 5px;
}



@media(min-width: 361px) {

    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .desc-producto {
        display: block;
    }

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;

    }

    header nav {
        display: flex; 
        justify-content: space-between; 
     
    }

    header div.burger-menu {
        display: none;

    }
    
}

@media(min-width:769px) {
    main section article {
        width: 22.5%;
    }

    .desc-producto {
        display: none;
    }

    
    
}

